{% extends 'base.jinja2' %}

{% block subtitle %}Create a New Donation{% endblock subtitle %}

{% block content %}
<form method="POST">
    {% if error %}<p>{{ error }}</p>{% endif %}
    <label for="name-input">Donor Name:</label><input id="name-input" type="text" name="donor_name">
    <label for="donation-input">Donation Amount:</label><input id="donation-input" type="text" name="donation_value">
    <input type="submit" value="Create Donor">
</form>
{% endblock content %}